<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="am_extruder_tool" params="parent prefix">
        <xacro:property name="PI" value="3.1415926535897931"/>
        <xacro:property name="mass" value="0.472"/>
        <xacro:property name="nozzle_z_adjust" value="0.0"/>
        
        <joint name="${prefix}_mounting_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${prefix}_virtual_mounting_link"/>
        </joint>
        
        <link name="${prefix}_virtual_mounting_link">
        </link>

        <joint name="${prefix}_between_finger_joint" type="fixed">
            <origin xyz="0.0 0.0 0.1033" rpy="0 ${-3*PI/4} 0"/>
            <parent link="${prefix}_virtual_mounting_link"/>
            <child link="${prefix}_bracket_link"/>
        </joint>

        <link name="${prefix}_bracket_link">
        </link>
        
        <joint name="${prefix}_bracket_joint" type="fixed">
            <!-- y=0.0313 -->
            <origin xyz="0.02064 0.0 -0.01199" rpy="0 0 0"/>
            <parent link="${prefix}_bracket_link"/>
            <child link="${prefix}_motor_link"/>
        </joint>

        <link name="${prefix}_motor_link">
            <visual>
                <geometry>
                    <mesh filename="package://am_extruder_tool/description/meshes/visual/franka_mounted_titan_extruder.dae" />
                </geometry>
            </visual>
        </link>

        <joint name="${prefix}_nozzle_joint" type="fixed">
            <origin xyz="0.0135 0.0111 -0.0792" rpy="0 0 0"/>
            <parent link="${prefix}_motor_link"/>
            <child link="${prefix}_nozzle_link"/>
        </joint>

        <link name="${prefix}_nozzle_link">
        </link>

    </xacro:macro>
</robot>
